<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--读写分离-->
  <!--写,主库-->
  <add key="wirteSqlConnectionStr" value="server=.;uid=sa;pwd=123456;database=RCCMS; "/>
  <!--是否权重策略-->
  <add key="IsWeightPolicy" value="true"/>
  <!--读从1-->
  <add key="readSqlConnectionStr1" value="server=.;uid=sa;pwd=123456;database=RCCMS;weight:10"/>
  <!--读从2-->
  <add key="readSqlConnectionStr2" value="server=.;uid=sa;pwd=123456;database=RCCMS;weight:20"/>
  <!--读从3-->
  <add key="readSqlConnectionStr3" value="server=.;uid=sa;pwd=123456;database=RCCMS;weight:70"/>
</appSettings>